/b2
/b2.exe
/bin.v2
/bjam
/bjam.exe
/bootstrap.log
/dist
/project-config.jam
/stage
/user-config.jam
/.settings/
/.project
/.pydevproject

# Exclude Boost CI configs
**/.github/*
**/.drone/*
**/.circleci/*
**/.appveyor.yml
**/.travis.yml
appveyor.yml

# Exclude project parts we don't need (docs, examples, tests, ...)
/more
/libs/**/doc
/libs/**/test
/libs/**/sample
/libs/**/samples
/libs/**/examples
/libs/**/example
/libs/**/bench
*.html
*.md
